*{
    background-color: #d9d5d4;
}
h2{
    color: red;
    text-align: center;
}
h4{
    /* text-align: center; */
    color: red;
    padding-left: 40px;
 
}
pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
}